
        body{ background-color: lightslategrey;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 16px;
        text-align: justify;
        }

        p {
            color: aliceblue;
        }

        h1 {
color: blueviolet;
background-color: black;
text-align: center;
        }
